@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    min-height: 100vh;
    overflow: hidden;
    background: #f6f7fb;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
    /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background: #efefef;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;
}

.progress {
    background: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}
.circle {
    background: white;
    color: #999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #e0e0e0;
    margin: 0;
    transition: 0.4s ease;
}
.circle.active {
    border-color: #3498db;
}
.btn {
    background: #3498db;
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}
.btn:active {
    transform: scale(0.96);
}
.btn:focus {
    outline: none;
}
.btn:disabled {
    background: #e0e0e0;
}